h1 {
    font-size: xx-large;
    text-align: center;
}
h2 {
    text-align
}
img {
    width: 700px;
    
    
}

p {
    text-align: center;
    font-size: x-large;
}
li {
    text-align: center;
    font-size: x-large;
}

